[[source]]

name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"


[requires]

python_version = "3.6"


[packages]

cfenv = "*"
flask = "*"
flask-cors = "*"
gunicorn = "*"
gevent = "*"
sqlalchemy-utils = "*"
sqlalchemy = "*"
"psycopg2" = "*"
structlog = "*"
werkzeug = "*"
sdc-cryptography = "*"
cryptography = "*"
flask-httpauth = "*"
six = "*"
requests = "*"
xlsxwriter = "*"
retrying = "*"
sdc-rabbit = "*"
alembic = "*"
pycryptodome = "*"


[dev-packages]

coverage = "*"
"flake8" = "*"
"flake8-mock" = "*"
flask-testing = "*"
pytest = "*"
pytest-cov = "*"
tox = "*"
