[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"

[requires]
python_version = "3.6"

[packages]
cfenv = "*"
flask = "*"
flask-cors = "*"
gunicorn = "*"
gevent = {version = "*", platform_python_implementation="=='CPython'"}
sqlalchemy-utils = "*"
sqlalchemy = "*"
"psycopg2-binary" = "*"
structlog = "==17.2"
werkzeug = "*"
sdc-cryptography = "*"
cryptography = "==2.3"
flask-httpauth = "*"
six = "*"
requests = "*"
xlsxwriter = "*"
retrying = "*"
sdc-rabbit = "*"
alembic = "*"
pycryptodome = "*"
requestsdefaulter = "*"
flask-zipkin = "*"

[dev-packages]
coverage = "*"
"flake8" = "*"
"flake8-mock" = "*"
flask-testing = "*"
pytest = "*"
pytest-cov = "*"
tox = "*"
