[[source]]

name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"


[requires]

python_version = "3.6"


[packages]

ras_common_utils = "==1.0.2"
Flask = "==0.12.2"
Flask_Cors = "==3.0.3"
gunicorn = "==19.7.1"
SQLAlchemy_Utils = "==0.32.14"
SQLAlchemy = "==1.1.10"
psycopg2 = "==2.7.1"
pycrypto = "==2.6.1"
structlog = "==17.2.0"
Werkzeug = "==0.12.2"
sdc-cryptography = "==0.2.0"
pika = "==0.10.0"
cryptography = "==1.9"
Flask-HTTPAuth = "==3.2.3"
six = "==1.10.0"


[dev-packages]

coverage = "*"
flake8 = "*"
flake8-mock = "*"
Flask-Testing = "*"
pytest = "*"
pytest-cov = "*"
tox = "*"


